.col-sm-title{
	width: 150px !important;
	/* text-align: left; */
	margin-left: 28px;
	font-size:16px;
	display: inline-block;
}

.lable{
	color:red;
	font-size:15px;
}
.text-lable{
	background:white;
	margin-left: 6px;
	width:15%;
	height:35px;
	font-size:23px;
}

.grey-lable{
	background:#141414;
	width:0.5%;
	height:25px;
}
 
.col-sm-date{
	width:14% !important;
	padding-left: 4px;
	padding-right: 4px;
}
.mr10{margin-right: 10px;}
.tc{text-align: center;}
.lad_begin_amt{margin-left: 30px;margin-top: 10px;}
.clear{clear:both;}